@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';
@import '../../common/components/button/Button.module';

.contactsForm {
  width: 65%;
  @include flex(column, flex-start, stretch, 10px);

  @media screen and (max-width: 1200px) {
    width: 80%;
  }

  @media screen and (max-width: 992px) {
    width: 90%;
  }

  input, textarea {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: $bgColor;
    box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.1);
  }

  .nameAndEmail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    input {
      width: 50%;
    }
  }

  textarea {
    margin-bottom: 20px;
  }

  button {
    @extend .button, .blackButton
  }
}
