@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.header {
    height: 80px;
    background: $bgColor;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}