@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.contacts {
  min-height: 50vh;
  padding: 100px 0 70px;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
  }
}



