.contacts {
    min-height: 50vh;
    background-color: #ffb6ae;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eaeaea;
}

.contactsForm {
    border: 1px solid;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.contactsA {
    text-decoration: none;
    background-color: #ffd9a3;
    margin: 20px 0;
}