@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

$bg-img: url('../assets/images/dots.png');

.about {
  min-height: 60vh;
  background-color: $bgColor;
  padding: 100px 0;

  .mainContainer {

    .photo {
      position: relative;
      max-width: 420px;
      margin: 0 auto;

      img {
        position: relative;
        z-index: 1;
        max-width: 100%;
        height: auto;
      }

      &::after {
        position: absolute;
        content: '';
        width: 80%;
        height: 80%;
        left: -30px;
        bottom: -30px;
        background-image: $bg-img;
        background-repeat: repeat;
        z-index: 0;
      }
    }

    .description {
      margin: 0 auto;

      h3 {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 5px;
      }

      .subTitle {
        color: #999;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }

      p {
        max-width: 650px;
        color: $textColor;
        font-size: 15px;
        line-height: 1.6;
        margin: 0;
      }

      .buttons {
        margin-top: 30px;
        display: flex;
        gap: 5px;
      }
    }
  }
}

