@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skills {
  min-height: 100vh;
  background: $bgSecondColor;
  padding: 100px 0 70px;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skillsElements {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      box-sizing: border-box;
    }
  }
}