@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skills {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skillsElements {
      /*border: 1px solid;*/
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      box-sizing: border-box;
      padding: 20px 30px;

      @media screen and (max-width: 1026px) {
        justify-content: center;
      }
    }
  }
}