.skills {
    min-height: 100vh;
    background-color: #d0ffd8;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eaeaea;
}

.skillsElements {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 626px) {
    .skillsElements {
        justify-content: center;
    }
}