@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.main {
  height: 100vh;
  background-color: $bgColor;
  /*padding-top: 80px;*/

  .mainContainer {

    .text {
      margin: 0 auto;

      h3 {
        margin: 0 0 8px 0;
        @include textSettings($fontFamilyForDiv, 19px, 1.2, 400, uppercase);
      }

      h1 {
        margin: 19px 0 10px;
        @include textSettings($fontFamilyForH, 42px, 42px, 600, uppercase);
      }

      h1 span {
        color: $primaryColor;
      }

      p {
        margin: 11px 0 23px;
        @include textSettings($fontFamilyForDiv, 16px, 32px, 400);
      }

      .btnContainer {
        cursor: pointer;
        background-color: $primaryColor;
        padding: 0 33px;
        border-radius: 26px;
        height: 46px;
        display: inline-block;

        @include textSettings($fontFamilyForH, 15px, 46px, 500, uppercase);

        &:hover {
          background-color: $textColor;
          transition-duration: .6s;
        }

        a {
          text-decoration: none;
          color: #fff;
          letter-spacing: .5px;

          .icon {
            padding-right: 11px;
          }
        }
      }
    }

    .photo {
      position: relative;
      max-width: 440px;
      margin: 0 auto;

      &::before {
        border: 6px solid $primaryColor;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        transform: translate3d(26px, 26px, -26px);
      }

      img {
        position: relative;
        z-index: 1;
        max-width: 100%;
        height: auto;
      }
    }
  }
}