@import '../../styles/sass/variables';

.blackButton {
  margin-top: 20px;
  padding: 10px 30px;
  background: #1c1c1c;
  color: $textSecondColor;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  transition: all .5s;
}

.whiteButton {
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  transition: all .5s;
}