@import '../../styles/sass/variables';

a {
  text-decoration: none;
}

.button {
  padding: 10px 30px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  transition: all .5s;
}

.blackButton {
  background: #1c1c1c;
  color: $textSecondColor;

  &:hover {
    background: $bgColor;
    color: #1c1c1c;
  }
}

.whiteButton {
  background: $bgColor;
  color: #1c1c1c;

  &:hover {
    background: #1c1c1c;
    color: $textSecondColor;
  }
}