@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid;
  box-sizing: border-box;

  .icon {
    width: 85%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin: 30px;

    a {
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      background: rgba(214, 214, 214, 0.75);
      color: black;
      border-radius: 4px;
      padding: 10px 20px;
    }
  }

  .projectInfo {
    margin: 0 0 30px;
    padding: 0 30px;

    h3 {
      margin: 0 0 22px 0;
    }

    .description {
      padding-bottom: 12px;
    }
  }
}