@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 500px;
  padding: 0 15px;
  margin-bottom: 30px;

  @media screen and (max-width: 1200px) {
    width: 400px;
  }

  @media screen and (max-width: 990px) {
    width: 500px;
  }

  @media screen and (max-width: 550px) {
    width: 325px;
  }

  .projectImg {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 1200px) {
      height: 250px;
    }

    @media screen and (max-width: 990px) {
      height: 300px;
    }

    @media screen and (max-width: 550px) {
      height: 225px;
    }

    .overlay {
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      background: rgba(255, 255, 255, 0.95);
      opacity: 0;
      transition: all .5s;
      z-index: 2;

      @include flex();

      &:hover {
        opacity: 1;
      }

      .projectInfo {
        @include flex(column);
        padding: 10px;
        text-align: center;

        h3 {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 2px;
          margin-bottom: 15px;
          text-transform: uppercase;
        }

        .description {
          margin-bottom: 30px;
        }
      }
    }
  }
}