.project {
    width: 250px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    width: 250px;
    height: 250px;
    background-color: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.descriptionContainer h3 {
    background-color: #c0c0c0;
}

.description {
    background-color: #c0c0c0;
    width: 200px;
}