.project {
    width: 250px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid;
    box-sizing: border-box;
}

.icon {
    width: 100%;
    height: 250px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a {
    text-decoration: none;
    background-color: #8fc0ef;
}

.project h3 {
    background-color: #c0c0c0;
}

.description {
    background-color: #c0c0c0;
    width: 90%;
}