@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;

  a {
    text-decoration: none;

    .icon {
      margin-right: 8px;
    }

    &:hover {
      color: $primaryColor;
    }
  }
}