@import './variables';

@mixin textSettings($fontFamily, $fontSize, $lineHigh, $fontWeight: null, $textTransform: null, $color: $textColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHigh;
  font-weight: $fontWeight;
  text-transform: $textTransform;
  color: $color;
}

@mixin flex($flexDirection: row, $justifyContent: center, $alignItems: center, $gap: 0, $flexWrap: wrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
  flex-wrap: $flexWrap;
}