$textColor: #748182;
$textSecondColor: #eee;
$primaryColor: #343434;
$bgColor: #fff;
$bgSecondColor: #f7f7f7;
$bgThirdColor: #f4f4f4;
$titleFontFamily: 'Montserrat', sans-serif;
$textFontFamily: 'Poppins', sans-serif;