.footer {
    min-height: 50vh;
    background-color: #eaef8f;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.name {
    background-color: #ffbeef;
}

.elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 40%;
    flex-wrap: wrap;
    gap: 5px;
}

.element {
    width: 60px;
    height: 60px;
    background-color: #ffbeef;
}

.text {
    background-color: #ffbeef;
    margin-top: 20px;
}