@import '../common/styles/sass/variables';

.footer {
  padding: 30px;
  text-align: center;

  .text {
    font-size: 13px;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    color: $textColor;
  }
}