.projects {
    min-height: 100vh;
    background-color: #fff;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    /*background-color: #eaeaea;*/
    padding: 60px 0 54px;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    color: #555;
    line-height: 1.2;
}

.title span {
    color: #72b626;
}

.projectsElements {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 626px) {
    .projectsElements {
        justify-content: center;
    }
}