@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projects {
  min-height: 100vh;
  background-color: $bgColor;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projectsElements {
      border: 1px solid;
      width: 100%;

      @include flex(space-around);

      box-sizing: border-box;
      @media screen and (max-width: 626px) {
        justify-content: center;
      }
    }
  }
}